<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TouchBarSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>55726DFE1DED812B009FB0CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55726E0F1DED812C009FB0CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55726E1A1DED812C009FB0CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
